html {
	font-size:100%;
} 

body{
	width:100%;
	height:auto;
	border:none;
	padding:0;
	margin:0;
	background:ivory;
}
a	{
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
ul{
	margin:0px;
	padding:0px;
}
form{
	margin:0px;
	padding:opx;
}
.head_wrapper{
	width:100%;
	height:100px;
	float:left;
	background:url(../images/header.jpg)
}
.head_content{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:100px;
 }
 .logo{
	 width:130px;
	 height:100px;
	 float:left;
 }
.heading{
	width:800px;
	height:35px;
	margin-top:5px;
	margin-left:30px;
	float:left;
	font-size:30px;
	font-weight:500;
	padding-top:30px;
	color:#fff;
 }

.body_content{
	width:100%;
	height:auto;
	float:left;
}
.body_content_wrapper{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	width:1000px;
	height:545px;
}
.map{
	width:250px;
	height:385px;
	float:left;
	margin-left: 10px;
	margin-top: 15px;
	border: #999 2px solid;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 3px -3px 5px #B8B8B8;
	-webkit-box-shadow: 3px -3px 5px #B8B8B8;
	box-shadow: 3px -3px 5px #B8B8B8;
}
.main_menu2{
	width:1000px;
	height:40px;
	float:left;
}

.main_menu_lists{
	margin:5px;
	width:140px;
	height:30px;
	float:left;
	padding-left:8px;
	margin-right:9px;
	border:2px #999 solid;
	list-style:none;
	padding-top:2px;
	padding-bottom:inherit;
	text-align:center;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-box-shadow: 3px -3px 5px #B8B8B8;
    -webkit-box-shadow: 3px -3px 5px #B8B8B8;
    box-shadow: 3px -3px 5px #B8B8B8;
}
.main_menu_lists :hover {
	background-image:url(../images/list_hover.png);
	cursor:pointer;	
}
.body_content_details{
	width:700px;
	min-height:400px;
	float:left;
	background:#fffff0;
	border:2px #999 solid;
	margin-top:15px;
	margin-left:10px;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 3px -3px 5px #B8B8B8;
	-webkit-box-shadow: 3px -3px 5px #B8B8B8;
	box-shadow: 3px -3px 5px #B8B8B8;
}
.mapping{

	width:750px;
	height:300px;
	float:left;
	padding-top:5px;
	border-bottom:#999 2px solid;
	text-align:center;
	margin-left:10px;
	margin-top:10px;
}
#contact_title{
	width:700px;
	height:30px;
	float:left;
	padding-top:5px;
	border-bottom:#999 2px solid;
	text-align:center;
	font-size:24px;
	margin-bottom: 20px;
}
.contact_form{
	width:680px;
	height:320px;
	float:left;
	padding-top:2px;
	padding-left:10px;
}
#contactName{
	width:270px;
	height:30px;
}
#contactEmail{
	width:270px;
	height:30px;
}
#Subject{
	width:585px;
	height:30px;
	margin-top:10px;
}
#message{
	width:650px;
	height:150px;
	float:left;
}


/*===============================================================================

/* contact form */
#contact-form form { margin-bottom: 30px; }
#contact-form div {
   float: left;
   width: 100%;
}
#contact-form .half { width: 47%; }
#contact-form label {
	display: inline-block;
	float: left;
}
#contact-form input,
#contact-form textarea,
#contact-form select {
  	width: 100% !important;
   min-width: none;
   margin-bottom: 12px;
}
#contact-form button.submit {
   text-transform: uppercase;
 	letter-spacing: 2px;
   margin-top: 24px;
}
#contact-form span.required {
	color: #11ABB0;
}

#message-warning,
#message-success {
   display: none;
	background: #383232;
	padding: 24px 24px;
	margin-bottom: 36px;

 	border-radius: 3px;
}
#message-warning { color: #DD4646; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 12px;
}
/*===============================================================================
